body {

    background: #82a1bbb6

}

.jumbotron {

    background-image: url("../images/bacteria1.jpg");
    background-size: cover;
    text-align: center;
    image-rendering: auto;
    color: antiquewhite;
}